@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css');

@import 'tailwindcss';
// 애니메이션 추가 시 주석 삭제
/* @import 'tw-animate-css'; */

@layer base {
  body {
    font-family:
      'Pretendard',
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    line-height: 1.5;
    font-weight: 400;
    margin: 0;
    min-height: 100vh;
  }
}
